<!doctype html>
<html lang="{{ if eq .Title "Fashion For Future" }}en{{ else }}de{{ end }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{- $css := resources.Get "css/app.css" | resources.Minify | resources.Fingerprint "sha512" }}
    <link
      href="{{ $css.Permalink | relURL }}"
      rel="stylesheet"
      integrity="{{ $css.Data.Integrity }}"
    />
    <title>{{ .Title }}</title>
    <meta
      name="description"
      content="Linktipps vom Klimasofa zum Thema „{{ .Title }}“"
    />
  </head>
  <body class="bg-gray-200 text-gray-900 dark:bg-gray-900 dark:text-gray-300">
    <div class="mx-auto max-w-screen-md bg-gray-100 shadow-lg dark:bg-gray-800">
      <div class="mx-4">
        <header
          class="border-b border-gray-300 py-4 text-center dark:border-gray-500"
        >
          {{ if .Section }}
            <a href="{{ .Section | relURL }}">
              <img
                src="{{ "svg/klimasofa.svg" | relURL }}"
                class="mx-auto mb-4 w-32"
                alt="Klimasofa-Logo"
                width="122"
                height="92"
              />
            </a>
          {{ else }}
            <img
              src="{{ "svg/klimasofa.svg" | relURL }}"
              class="mx-auto mb-4 w-32"
              alt="Klimasofa-Logo"
              width="122"
              height="92"
            />
          {{ end }}
          <p
            class="text-3xl font-bold text-klimasofa-green dark:text-klimasofa-green-light"
          >
            {{ if .Section }}
              <a
                class="text-klimasofa-green no-underline dark:text-klimasofa-green-light"
                href="{{ .Section | relURL }}"
                >Klimasofa</a
              >
            {{ else }}
              Klimasofa
            {{ end }}
          </p>
        </header>
        <main class="pt-4">
          <article>
            <h1 class="mb-4 text-center text-2xl">{{ .Title }}</h1>
            {{ block "main" . }}{{ end }}
          </article>
        </main>
        <footer
          class="border-t border-gray-300 py-4 text-center dark:border-gray-500"
        >
          <p>© {{ now.Format "2006" }} Klimasofa e. V.</p>
          <p>
            <a href="{{ relref . "impressum" }}">Impressum</a>
            –
            <a href="{{ relref . "datenschutz" }}">Datenschutz</a>
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
