@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Regular */
  @font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Nunito-VariableFont_wght.woff2) format("woff2");
  }
  /* Semibold */
  @font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Nunito-VariableFont_wght.woff2) format("woff2");
  }
  /* Bold */
  @font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Nunito-VariableFont_wght.woff2) format("woff2");
  }

  html {
    font-size: 18px;
  }

  h2 {
    @apply my-4 text-lg font-bold;
  }

  p > a {
    @apply text-blue-800 underline dark:text-blue-200;
  }
}
